<h1>Create new article</h1>
<% if @article.errors.any? %>
<h2>
    <%= pluralize(@article.errors.count,"error") %> not allowing this article to be saved.
</h2>
<ul>    
    <% @article.errors.full_messages.each do |msg| %>
    <li> <%= msg %> </li>
    <% end %>
</ul>
<% end %>
<%= form_with scope: :article, url: '/articles', local: true do |form| %>
    <p>
        <%= form.label :title %>
        <br>
        <%= form.text_field :title %>
    </p>
    <p>
        <%= form.label :body %>
        <br>
        <%= form.text_area :body %>
    </p>
    <p>
        <%= form.submit "Save" %>
    </p>
<% end %>


